In [6]:
# Dependencies
import pandas as pd
from datetime import datetime, timedelta
from sqlalchemy import create_engine, text

# Database connection string
DB_URL = "postgresql://postgres:changeme-strong-pass@localhost:5432/adimalara"

# Create SQLAlchemy engine
engine = create_engine(DB_URL)

# Test connection
try:
    with engine.connect() as conn:
        result = conn.execute(text("SELECT version();"))
        version = result.fetchone()[0]
        print("✓ Connected to database successfully!")
        print(f"Database: {version.split(',')[0]}")
except Exception as e:
    print(f"✗ Connection failed: {e}")

✓ Connected to database successfully!
Database: PostgreSQL 14.17 on x86_64-pc-linux-musl

In [ ]:
from datetime import datetime, timedelta
from sqlalchemy import text

# DISCOVER DATA RANGE
discovery_info_query = text("""
    SELECT 
        MIN(timestamp) as earliest,
        MAX(timestamp) as latest,
        MIN(latitude) as min_lat,
        MAX(latitude) as max_lat,
        MIN(longitude) as min_lon,
        MAX(longitude) as max_lon,
        COUNT(*) as total_records,
        COUNT(DISTINCT mmsi) as unique_vessels
    FROM ais1_position
""")

data_range = pd.read_sql_query(discovery_info_query, engine)

# Verify data exists
if data_range.empty or data_range['earliest'][0] is None:
    raise ValueError("No data in database!")

print("DATABASE OVERVIEW ")
print(f"Total records: {data_range['total_records'][0]:,}")
print(f"Unique vessels: {data_range['unique_vessels'][0]:,}")
print(f"Time: {data_range['earliest'][0]} to {data_range['latest'][0]}")
print(f"Lat: [{data_range['min_lat'][0]:.2f}, {data_range['max_lat'][0]:.2f}]")
print(f"Lon: [{data_range['min_lon'][0]:.2f}, {data_range['max_lon'][0]:.2f}]")

# CALCULATE TIME WINDOW 
earliest = data_range['earliest'][0]
latest = data_range['latest'][0]
total_days = (latest - earliest).days
middle_date = earliest + timedelta(days=total_days // 2)

# Use 2 weeks for exploration (manageable data size)
START_TIME = middle_date - timedelta(days=7)
END_TIME = middle_date + timedelta(days=7)

# USE FULL GEOGRAPHIC AREA 
# Convert to Python float (fixes numpy type error)
LAT_MIN = float(data_range['min_lat'][0])
LAT_MAX = float(data_range['max_lat'][0])
LON_MIN = float(data_range['min_lon'][0])
LON_MAX = float(data_range['max_lon'][0])

NUM_VESSELS = 30

print("\n QUERY PARAMETERS ")
print(f"Time: {START_TIME.date()} to {END_TIME.date()} ({(END_TIME - START_TIME).days} days)")
print(f"Area: Lat [{LAT_MIN:.3f}, {LAT_MAX:.3f}], Lon [{LON_MIN:.3f}, {LON_MAX:.3f}]")
print(f"Target vessels: {NUM_VESSELS}")

# VERIFY DATA IN QUERY WINDOW 
verify_query = text("""
    SELECT COUNT(*) as count
    FROM ais1_position
    WHERE timestamp BETWEEN :start_time AND :end_time
      AND latitude BETWEEN :lat_min AND :lat_max
      AND longitude BETWEEN :lon_min AND :lon_max
""")

verify_params = {
    'start_time': START_TIME,
    'end_time': END_TIME,
    'lat_min': LAT_MIN,
    'lat_max': LAT_MAX,
    'lon_min': LON_MIN,
    'lon_max': LON_MAX
}

verify_result = pd.read_sql_query(verify_query, engine, params=verify_params)
print(f"\n✓ Records in query window: {verify_result['count'][0]:,}")

=== DATABASE OVERVIEW ===
Total records: 32,448,126
Unique vessels: 1,065
Time: 2024-08-02 12:17:49.241000+00:00 to 2025-03-31 06:01:36.822000+00:00
Lat: [59.93, 61.19]
Lon: [5.01, 6.15]

=== QUERY PARAMETERS ===
Time: 2024-11-23 to 2024-12-07 (14 days)
Area: Lat [59.935, 61.186], Lon [5.009, 6.152]
Target vessels: 30

✓ Records in query window: 1,592,806

In [ ]:
from sqlalchemy import text

#  Find most active vessels in this area/time
discovery_query = text("""
    SELECT 
        mmsi,
        COUNT(*) as record_count,
        MIN(timestamp) as first_seen,
        MAX(timestamp) as last_seen
    FROM ais1_position
    WHERE timestamp BETWEEN :start_time AND :end_time
      AND latitude BETWEEN :lat_min AND :lat_max
      AND longitude BETWEEN :lon_min AND :lon_max
    GROUP BY mmsi
    HAVING COUNT(*) > 50
    ORDER BY record_count DESC
    LIMIT :num_vessels
""")

discovery_params = {
    'start_time': START_TIME,
    'end_time': END_TIME,
    'lat_min': LAT_MIN,
    'lat_max': LAT_MAX,
    'lon_min': LON_MIN,
    'lon_max': LON_MAX,
    'num_vessels': NUM_VESSELS
}

# Get vessel list
vessels_df = pd.read_sql_query(discovery_query, engine, params=discovery_params)

print(f"\n✓ Found {len(vessels_df)} vessels")
if len(vessels_df) > 0:
    print(f"Total records: {vessels_df['record_count'].sum():,}")
    print(f"Avg records per vessel: {vessels_df['record_count'].mean():.0f}")
    print("\nTop 5 most active:")
    print(vessels_df[['mmsi', 'record_count']].head())
    
    # Extract MMSI list
    MMSI_LIST = vessels_df['mmsi'].tolist()
else:
    print("⚠️  No vessels found. Try:")
    print("  - Lowering HAVING COUNT(*) threshold")
    print("  - Expanding time window")
    print("  - Checking data distribution")

✓ Found 30 vessels
Total records: 1,327,687
Avg records per vessel: 44256

Top 5 most active:
        mmsi  record_count
0  257949600        144916
1  258221500        131561
2  257914900        114774
3  257642000         92390
4  257004700         91927